<div class="container flex flex-col justify-center min-h-screen mx-auto max-w-screen-lg">
    <div class=" bg-white border rounded-lg shadow-lg p-10 flex flex-col ">
        <span class="font-mono font-medium text-4xl text-center tracking-widest ">LoRA</span>
        <div class="flex flex-row space-x-4 items-center">
            <button (click)="generateReportFromDatabase()" class="border-2 border-teal-400 rounded-md p-2 hover:bg-teal-100 text-sm">Generate from DB</button>
            <button (click)="generateReportFromFile()" class="border-2 border-teal-400 rounded-md p-2 hover:bg-teal-100 text-sm">Generate from File</button>
        </div>
        <app-wbr-pivot #pivot1 [toolbar]="true" [width]="'100%'" [height]="500" (reportcomplete)="onReportComplete()">
        </app-wbr-pivot>
    </div>
</div>