<div class="container flex flex-col justify-center min-h-screen mx-auto max-w-screen-lg">
    <div class=" bg-white border rounded-lg shadow-lg p-10 flex flex-col ">
        <!-- <div class="flex-row space-x-4 items-center my-2">
            <button (click)="saveReport()" class="border-2 border-teal-400 bg-teal-400 text-white rounded-md p-2 hover:bg-teal-500 text-sm focus:outline-none">Save Report</button>
            <button (click)="exportReport()" class="border-2 border-teal-400 bg-teal-400 text-white rounded-md p-2 hover:bg-teal-500 text-sm focus:outline-none">Export Report</button>
            <button (click)="generateReportFromDatabase()" class="border-2 border-teal-400 rounded-md p-2 hover:bg-teal-100 text-sm">Generate from DB</button>
            <button (click)="generateReportFromFile()" class="border-2 border-teal-400 rounded-md p-2 hover:bg-teal-100 text-sm">Generate from File</button>
        </div> -->
        <p-menubar [model]="items">
            <ng-template pTemplate="end">
                <div class="font-medium text-xl text-teal-700 tracking-widest">LoRA</div>
            </ng-template>
        </p-menubar>
        <app-wbr-pivot #pivot1 [toolbar]="true" [width]="'100%'" [height]="500" (reportcomplete)="onReportComplete()">
        </app-wbr-pivot>
    </div>
</div>

<div *ngIf="isReportSaved" class="fixed top-0 left-0 flex flex-row items-center bg-teal-400/75 rounded-md p-4 w-72 m-6 shadow-md">
    <span class="uppercase">Report saved to database</span>
</div>