<div class="container flex flex-col justify-center min-h-screen mx-auto max-w-screen-lg">
    <div class=" bg-white border rounded-lg shadow-lg p-10 flex flex-col ">
        <p-menubar [model]="items">
            <ng-template pTemplate="end">
                <div class="flex flex-row items-center">
                    <img src="assets/image/dyandra-logo2.png" class="w-6 mr-1">
                    <div class="font-allerta text-2xl text-white tracking-widest">DYANDRA</div>
                </div>
            </ng-template>
        </p-menubar>
        <div class="w-full flex items-center justify-center bg-white p-2">
            <span class="font-medium text-sm">{{report?.title || "New Report"}}</span>
        </div>
        <app-wbr-pivot #pivot1 [toolbar]="false" [width]="'100%'" [height]="" (reportcomplete)="onReportComplete()">
        </app-wbr-pivot>
    </div>
</div>