<form [formGroup]="applicationForm" class="admin flex flex-col space-y-4">
    <div class="w-full">
        <label for="name" class="font-medium">Name</label>
        <input type="text" pInputText placeholder="Enter application name" formControlName="name">
    </div>
    <div class="w-full">
        <label for="code" class="font-medium">Code</label>
        <input type="text" pInputText placeholder="Enter application code" formControlName="code">
    </div>
    <div class="w-full">
        <label for="clientId" class="font-medium">Client ID</label>
        <input type="text" pInputText placeholder="Enter application client id" formControlName="clientId">
    </div>
</form>