<div class="w-64 h-screen flex flex-col bg-gray-800 shadow">
    <a routerLink="./home" class="w-full flex items-center space-x-1 p-6 border-b-2 border-gray-700">
        <img class="w-8" src="/assets/image/dyandra-logo2.png" alt="Dyandra dyandra-logo2">
        <span class="font-allerta text-3xl text-white">DYANDRA</span>
    </a>
    
    <ul class="flex flex-col py-6">
        <li class="flex justify-between px-8 py-4 text-white hover:bg-gray-700 hover:text-gray-300 items-center">
            <a routerLink="./application" class="w-full flex items-center space-x-2">
                <i class="pi pi-box" style="font-size: 14px"></i>
                <span class="font-medium text-sm ml-2">Application</span>
            </a>
        </li>
        <li class="flex justify-between px-8 py-4 text-white hover:bg-gray-700 hover:text-gray-300 items-center">
            <a routerLink="./connection" class="w-full flex items-center space-x-2">
                <i class="pi pi-globe" style="font-size: 14px"></i>
                <span class="font-medium text-sm ml-2">Connection</span>
            </a>
        </li>
        <li class="flex justify-between px-8 py-4 text-white hover:bg-gray-700 hover:text-gray-300 items-center">
            <a routerLink="./sourcepath" class="w-full flex items-center space-x-2">
                <i class="pi pi-code" style="font-size: 14px"></i>
                <span class="font-medium text-sm ml-2">Source Path</span>
            </a>
        </li>
        <li class="flex justify-between px-8 py-4 text-white hover:bg-gray-700 hover:text-gray-300 items-center">
            <a routerLink="./report" class="w-full flex items-center space-x-2">
                <i class="pi pi-book" style="font-size: 14px"></i>
                <span class="font-medium text-sm ml-2">Report</span>
            </a>
        </li>
    </ul>
</div>