<div class="w-64 h-screen flex-col bg-gray-800 shadow hidden sm:flex">
    <a routerLink="./home" class="w-full flex items-center space-x-1 p-6 border-b-2 border-gray-700">
        <img class="w-8" src="/assets/image/dyandra-logo2.png" alt="Dyandra dyandra-logo2">
        <span class="font-allerta text-3xl text-white">DYANDRA</span>
    </a>
    
    <ul class="flex flex-col py-6">
        <li>
            <a routerLink="./application" routerLinkActive="menu-item-active" class="menu-item">
                <i class="pi pi-box" style="font-size: 14px"></i>
                <span class="font-medium text-sm ml-2">Application</span>
            </a>
        </li>
        <li>
            <a routerLink="./connection" routerLinkActive="menu-item-active" class="menu-item">
                <i class="pi pi-globe" style="font-size: 14px"></i>
                <span class="font-medium text-sm ml-2">Connection</span>
            </a>
        </li>
        <li>
            <a routerLink="./sourcepath" routerLinkActive="menu-item-active" class="menu-item">
                <i class="pi pi-code" style="font-size: 14px"></i>
                <span class="font-medium text-sm ml-2">Source Path</span>
            </a>
        </li>
        <li>
            <a routerLink="./report" routerLinkActive="menu-item-active" class="menu-item">
                <i class="pi pi-book" style="font-size: 14px"></i>
                <span class="font-medium text-sm ml-2">Report</span>
            </a>
        </li>
    </ul>
</div>

<div class="absolute w-full h-16 flex flex-row items-center justify-between bg-gray-800 sm:hidden">
    <button class="absolute p-4 text-white">
        <i class="pi pi-bars" style="font-size: 24px"></i>
    </button>
    <a routerLink="./home" class="w-full flex items-center justify-center space-x-1 p-4">
        <img class="w-8" src="/assets/image/dyandra-logo2.png" alt="Dyandra dyandra-logo2">
        <span class="font-allerta text-3xl text-white">DYANDRA</span>
    </a>
</div>
