<form [formGroup]="sourcePathForm" class="admin flex flex-col space-y-4">
    <div class="w-full">
        <label for="connectionId" class="font-medium">Connection</label>
        <p-dropdown [options]="connections" optionLabel="name" optionValue="id" [showClear]="true" placeholder="Select connection" formControlName="connectionId" required></p-dropdown>
    </div>
    <div class="w-full">
        <label for="name" class="font-medium">Name</label>
        <input type="text" pInputText placeholder="Enter source path name" formControlName="name" required>
    </div>
    <div class="w-full">
        <label for="path" class="font-medium">Path/URL</label>
        <textarea pInputTextarea rows="5" placeholder="Enter source path/url" formControlName="path" required></textarea>
    </div>
    <div class="w-full">
        <label for="username" class="font-medium">Database Username</label>
        <input type="text" pInputText placeholder="Enter database username" formControlName="username">
    </div>
    <div class="w-full">
        <label for="password" class="font-medium">Database Password</label>
        <span class="w-full p-input-icon-right">
            <i *ngIf="showPassword" (click)="showPassword=false" class="pi pi-eye-slash cursor-pointer"></i>
            <i *ngIf="!showPassword" (click)="showPassword=true" class="pi pi-eye cursor-pointer"></i>
            <input type="text" pInputText [type]="showPassword ? 'text' : 'password'" placeholder="Enter database password" formControlName="password">
        </span>
    </div>
    <div class="w-full flex items-center justify-center pt-4 pb-2">
        <button (click)="addSourcePath()" [disabled]="sourcePathForm.invalid" type="button" class="w-full btn-primary">SAVE</button>
    </div>
</form>