<form [formGroup]="optionsForm" class="flex flex-col space-y-4 lg:flex-row lg:items-start lg:space-y-0">
    <div class="w-full">
        <label class="font-medium">Grand Totals</label>
        <div class="w-full flex flex-col space-y-2 px-2 py-3">
            <p-radioButton name="showGrandTotals" value="on" label="On" inputId="showGrandTotals1" formControlName="showGrandTotals"></p-radioButton>
            <p-radioButton name="showGrandTotals" value="off" label="Off" inputId="showGrandTotals2" formControlName="showGrandTotals"></p-radioButton>
            <p-radioButton name="showGrandTotals" value="rows" label="Rows Only" inputId="showGrandTotals4" formControlName="showGrandTotals"></p-radioButton>
            <p-radioButton name="showGrandTotals" value="columns" label="Columns Only" inputId="showGrandTotals3" formControlName="showGrandTotals"></p-radioButton>
        </div>
    </div>
    <div class="w-full">
        <label class="font-medium">Sub Totals</label>
        <div class="w-full flex flex-col space-y-2 px-2 py-3">
            <p-radioButton name="showTotals" value="on" label="On" inputId="showTotals1" formControlName="showTotals"></p-radioButton>
            <p-radioButton name="showTotals" value="off" label="Off" inputId="showTotals2" formControlName="showTotals"></p-radioButton>
            <p-radioButton name="showTotals" value="rows" label="Rows Only" inputId="showTotals4" formControlName="showTotals"></p-radioButton>
            <p-radioButton name="showTotals" value="columns" label="Columns Only" inputId="showTotals3" formControlName="showTotals"></p-radioButton>
        </div>
    </div>
    <div class="w-full">
        <label class="font-medium">Layout</label>
        <div class="w-full flex flex-col space-y-2 px-2 py-3">
            <p-radioButton name="type" value="compact" label="Compact" inputId="type1" formControlName="type"></p-radioButton>
            <p-radioButton name="type" value="flat" label="Flat" inputId="type2" formControlName="type"></p-radioButton>
            <p-radioButton name="type" value="classic" label="Classic" inputId="type3" formControlName="type"></p-radioButton>
        </div>
    </div>
</form>
<div class="w-full flex items-center justify-center pt-8 pb-2">
    <button (click)="applyOptions()" type="button" class="w-full btn-primary">APPLY</button>
</div>