<div class="flex flex-col space-y-4 p-10">
    <div class="flex flex-row justify-between">
        <h1 class="font-semibold text-lg">Connection Manager</h1>
        <button (click)="showAddConnectionDialog()" class="flex flex-row space-x-2 items-center btn-primary">
            <i class="pi pi-plus" style="font-size:12px"></i>
            <span class="text-sm">New</span>
        </button>
    </div>
    <p-table #connectionTable [value]="connections" [loading]="loading" dataKey="id" [rowHover]="true" [paginator]="true" [rows]="10" scrollHeight="60vh" [responsive]="true" responsiveLayout="scroll" sortField="createdAt" [sortOrder]="-1">
        <ng-template pTemplate="header">
            <tr>
                <th>Connection</th>
                <th>Application</th>
                <th>Method</th>
                <th>Date Created</th>
                <th>Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-connection>
            <tr>
                <td>{{connection.name}}</td>
                <td>{{connection.application.name}}</td>
                <td>{{connection.method.name}}</td>
                <td>{{connection.createdAt | date:'MMM d, y, h:mm a'}}</td>
                <td class="flex flex-row justify-center space-x-2 text-white">
                    <button (click)="showConnectionDetailsDialog(connection)" class="flex items-center justify-center btn-primary">
                        <i class="pi pi-info-circle" style="font-size:14px"></i>
                    </button>
                    <button (click)="showConfirmationDialog('Delete Connection','Do you want to delete this connection?','delete',connection.id)" class="flex items-center justify-center btn-primary">
                        <i class="pi pi-trash" style="font-size:14px"></i>
                    </button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5" class="text-sm text-gray-400" style="text-align: center">NO CONNECTIONS FOUND</td>
            </tr>
        </ng-template>
    </p-table>
</div> 