/* You can add global styles to this file, and also import other style files */

@import 'webdatarocks/webdatarocks.min.css';
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Inter:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-inter
}

.p-component{
    font-family: "Inter", sans-serif !important;
}

.p-inputtext{
    width: 100%;
    font-size: 14px !important;
    border-color: #f0a9a7 !important;
    box-shadow: none !important;

    &:enabled:focus{
        box-shadow: none !important;
        border-color: gray !important;
    }

    &::placeholder{
        color:#bbbbbb !important;
    }
}

.p-dropdown{
    width: 100%;
    font-size: 14px !important;
    border-color: #f0a9a7 !important;

    &:not(.p-disabled).p-focus{
        box-shadow: none !important;
        border-color: gray !important;
    }

    .p-dropdown-label.p-placeholder{
        color:#bbbbbb !important;
    }

    .p-dropdown-panel .p-dropdown-items .p-dropdown-item{
        font-size: 14px !important;
    }

    .p-dropdown-panel .p-dropdown-items .p-dropdown-empty-message{
        font-size: 14px !important;
    }
}

.btn {
    &-primary {
        @apply text-sm text-white rounded-md px-3 py-1.5 bg-bca border-2 border-bca transition ease-out duration-100 hover:bg-bca/80 hover:border-bca/0 active:bg-bca disabled:bg-slate-200 disabled:text-slate-400 disabled:border-slate-200;
    }

    &-secondary {
        @apply text-sm text-bca rounded-md px-3 py-1.5 bg-white border-2 border-bca transition ease-out duration-100 hover:bg-bca/10 hover:border-bca/80 active:bg-white disabled:bg-white disabled:text-slate-400 disabled:border-slate-200;
    }
}