<div class="flex flex-col space-y-4">
    <p-table #reportTable [value]="reports" [loading]="loading" selectionMode="single" [(selection)]="selectedReport" dataKey="id" [scrollable]="true" scrollHeight="300px" [responsive]="true" responsiveLayout="scroll" sortField="createdAt" [sortOrder]="1">
        <ng-template pTemplate="header">
            <tr>
                <th>Title</th>
                <th>Connection</th>
                <th>Date Created</th>
                <th>Last Updated</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-report>
            <tr [pSelectableRow]="report">
                <td>{{report.title}}</td>
                <td>{{report.connection.name}}</td>
                <td>{{report.createdAt | date:'dd/MM/yyyy'}}</td>
                <td>{{(report.updatedAt | date:'dd/MM/yyyy') || "-"}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <div class="text-sm text-teal-400 text-center my-6">NO REPORTS FOUND</div>
        </ng-template>
    </p-table>
    <div class="w-full flex flex-row items-center justify-between p-2">
        <span class="font-medium text-sm">Selected Report:</span>
        <span *ngIf="selectedReport" class="text-sm text-teal-700 uppercase">{{selectedReport.title}}</span>
    </div>
    <div class="w-full flex items-center justify-center py-2">
        <button (click)="openReport()" [disabled]="!selectedReport" type="button" class="w-full btn-primary">OPEN</button>
    </div>
</div>